@import '~node_modules/modern-normalize/modern-normalize.css';

h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  height: auto;
  width: 100%;
}

.link-none {
  text-decoration: none;
}

.list-none {
  list-style: none;
}

button {
  cursor: pointer;
}

body {
  font-family: var(--primary-font);
  background-color: var(--dark-theme-color);
}
