<section class="section clients">
  <h2 class="section__title">Постійні клієнти</h2>
  <div class="container clients__container">
    <ul class="clients__list list-none">
      <li class="clients__list-item">
        <svg class="clients__sprite" width="106" heigth="60">
          <use href="./images/sprite.svg#icon-yaco"></use>
        </svg>
      </li>
      <li class="clients__list-item">
        <svg class="clients__sprite" width="106" heigth="60">
          <use href="./images/sprite.svg#icon-tagline"></use>
        </svg>
      </li>
      <li class="clients__list-item">
        <svg class="clients__sprite" width="106" heigth="60">
          <use href="./images/sprite.svg#icon-company"></use>
        </svg>
      </li>
      <li class="clients__list-item">
        <svg class="clients__sprite" width="106" heigth="60">
          <use href="./images/sprite.svg#icon-foster"></use>
        </svg>
      </li>
      <li class="clients__list-item">
        <svg class="clients__sprite" width="106" heigth="60">
          <use href="./images/sprite.svg#icon-brand"></use>
        </svg>
      </li>
      <li class="clients__list-item">
        <svg class="clients__sprite" width="106" heigth="60">
          <use href="./images/sprite.svg#icon-cube"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
