<section class="section">
  <div class="container">
    <ul class="features__list list-none">
      <li class="features__list-item">
        <div class="features__sprite-block">
          <svg width="70" height="70">
            <use href="./images/sprite.svg#icon-antenna"></use>
          </svg>
        </div>
        <div class="features__list-block">
          <h3 class="features__list-item-title">УВАГА ДО ДЕТАЛЕЙ</h3>
          <p class="features__list-item-desc">
            Ідейні міркування, і навіть початок повсякденної роботи з формування
            позиції.
          </p>
        </div>
      </li>
      <li class="features__list-item">
        <div class="features__sprite-block">
          <svg width="70" height="70">
            <use href="./images/sprite.svg#icon-clock"></use>
          </svg>
        </div>
        <div class="features__list-block">
          <h3 class="features__list-item-title">ПУНКТУАЛЬНІСТЬ</h3>
          <p class="features__list-item-desc">
            Завдання організації, особливо рамки і місце навчання кадрів тягне у
            себе.
          </p>
        </div>
      </li>
      <li class="features__list-item">
        <div class="features__sprite-block">
          <svg width="70" height="70">
            <use href="./images/sprite.svg#icon-diagram"></use>
          </svg>
        </div>
        <div class="features__list-block">
          <h3 class="features__list-item-title">ПЛАНУВАННЯ</h3>
          <p class="features__list-item-desc">
            Так само консультація з широким активом значною мірою зумовлює.
          </p>
        </div>
      </li>
      <li class="features__list-item">
        <div class="features__sprite-block">
          <svg width="70" height="70">
            <use href="./images/sprite.svg#icon-astronaut"></use>
          </svg>
        </div>
        <div class="features__list-block">
          <h3 class="features__list-item-title">СУЧАСНІ ТЕХНОЛОГІЇ</h3>
          <p class="features__list-item-desc">
            Значимість цих проблем настільки очевидна, що реалізація планових
            завдань.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
