<footer class="page-footer">
  <div class="container page-footer__container">
    <div class="page-footer__first">
      <a class="logo link-none" href="./index.html">
        <span class="logo__accent">Web</span>Studio
      </a>
      <address class="address">
        <span class="address__info">м. Київ, пр-т Лесі Українки, 26</span>
        <a class="address__link link-none" href="mailto:info@devstudio.com">
          info@devstudio.com
        </a>
        <a class="address__link link-none" href="tel:+38 096 111 11 11">
          +38 096 111 11 11
        </a>
      </address>
    </div>
    <div class="page-footer__mid"></div>
    <div class="page-footer__last"></div>
  </div>
</footer>
