<section class="section products">
  <div class="container">
    <ul class="products__nav list-none">
      <li class="products__nav-item">
        <button type="button" class="products__btn">Усі</button>
      </li>
      <li class="products__nav-item">
        <button type="button" class="products__btn">Веб-сайти</button>
      </li>
      <li class="products__nav-item">
        <button type="button" class="products__btn">Додатки</button>
      </li>
      <li class="products__nav-item">
        <button type="button" class="products__btn">Дизайн</button>
      </li>
      <li class="products__nav-item">
        <button type="button" class="products__btn">Маркетинг</button>
      </li>
    </ul>
    <ul class="products__list list-none">
      <li class="products__list-item">
        <picture>
          <source
            srcset="
              ./images/products-img-desktop/products-img-desktop-1.webp    1x,
              ./images/products-img-desktop/products-img-desktop-1@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/products-img-desktop/products-img-desktop-1.jpg    1x,
              ./images/products-img-desktop/products-img-desktop-1@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/products-img-tablet/products-img-tablet-1.webp    1x,
              ./images/products-img-tablet/products-img-tablet-1@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/products-img-tablet/products-img-tablet-1.jpg    1x,
              ./images/products-img-tablet/products-img-tablet-1@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/products-img-mobile/products-img-mobile-1.webp    1x,
              ./images/products-img-mobile/products-img-mobile-1@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/products-img-mobile/products-img-mobile-1.jpg    1x,
              ./images/products-img-mobile/products-img-mobile-1@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./images/products-img-mobile/products-img-mobile-1.jpg"
            alt="Технокряк фото"
            class="products__image"
          />
        </picture>
        <div class="product__list-item-desc margin-tablet">
          <h4 class="product__list-title">Технокряк</h4>
          <p class="product__list-desc">Веб-сайт</p>
        </div>
        <div class="product__list-item-hover-block">
          <p>
            Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу та
            сервісів. Все це дозволить відвідувачу отримати вичерпні відомості
            про компанію чи приватну особу.
          </p>
        </div>
      </li>
      <li class="products__list-item">
        <picture>
          <source
            srcset="
              ./images/products-img-desktop/products-img-desktop-2.webp    1x,
              ./images/products-img-desktop/products-img-desktop-2@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/products-img-desktop/products-img-desktop-2.jpg    1x,
              ./images/products-img-desktop/products-img-desktop-2@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/products-img-tablet/products-img-tablet-2.webp    1x,
              ./images/products-img-tablet/products-img-tablet-2@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/products-img-tablet/products-img-tablet-2.jpg    1x,
              ./images/products-img-tablet/products-img-tablet-2@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/products-img-mobile/products-img-mobile-2.webp    1x,
              ./images/products-img-mobile/products-img-mobile-2@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/products-img-mobile/products-img-mobile-2.jpg    1x,
              ./images/products-img-mobile/products-img-mobile-2@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./images/products-img-mobile/products-img-mobile-2.jpg"
            alt="Постер New Orlean vs Golden Star фото"
            class="products__image"
          />
        </picture>
        <div class="product__list-item-desc">
          <h4 class="product__list-title">Постер New Orlean vs Golden Star</h4>
          <p class="product__list-desc">Дизайн</p>
        </div>
        <div class="product__list-item-hover-block">
          <p>
            Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу та
            сервісів. Все це дозволить відвідувачу отримати вичерпні відомості
            про компанію чи приватну особу.
          </p>
        </div>
      </li>
      <li class="products__list-item">
        <picture>
          <source
            srcset="
              ./images/products-img-desktop/products-img-desktop-3.webp    1x,
              ./images/products-img-desktop/products-img-desktop-3@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/products-img-desktop/products-img-desktop-3.jpg    1x,
              ./images/products-img-desktop/products-img-desktop-3@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/products-img-tablet/products-img-tablet-3.webp    1x,
              ./images/products-img-tablet/products-img-tablet-3@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/products-img-tablet/products-img-tablet-3.jpg    1x,
              ./images/products-img-tablet/products-img-tablet-3@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/products-img-mobile/products-img-mobile-3.webp    1x,
              ./images/products-img-mobile/products-img-mobile-3@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/products-img-mobile/products-img-mobile-3.jpg    1x,
              ./images/products-img-mobile/products-img-mobile-3@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./images/products-img-mobile/products-img-mobile-3.jpg"
            alt=" Ресторан Seafood фото"
            class="products__image"
          />
        </picture>
        <div class="product__list-item-desc">
          <h4 class="product__list-title">Ресторан Seafood</h4>
          <p class="product__list-desc">Додаток</p>
        </div>
        <div class="product__list-item-hover-block">
          <p>
            Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу та
            сервісів. Все це дозволить відвідувачу отримати вичерпні відомості
            про компанію чи приватну особу.
          </p>
        </div>
      </li>
      <li class="products__list-item">
        <picture>
          <source
            srcset="
              ./images/products-img-desktop/products-img-desktop-4.webp    1x,
              ./images/products-img-desktop/products-img-desktop-4@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/products-img-desktop/products-img-desktop-4.jpg    1x,
              ./images/products-img-desktop/products-img-desktop-4@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/products-img-tablet/products-img-tablet-4.webp    1x,
              ./images/products-img-tablet/products-img-tablet-4@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/products-img-tablet/products-img-tablet-4.jpg    1x,
              ./images/products-img-tablet/products-img-tablet-4@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/products-img-mobile/products-img-mobile-4.webp    1x,
              ./images/products-img-mobile/products-img-mobile-4@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/products-img-mobile/products-img-mobile-4.jpg    1x,
              ./images/products-img-mobile/products-img-mobile-4@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./images/products-img-mobile/products-img-mobile-4.jpg"
            alt="Проєкт Prime фото"
            class="products__image"
          />
        </picture>
        <div class="product__list-item-desc">
          <h4 class="product__list-title">Проєкт Prime</h4>
          <p class="product__list-desc">Маркетинг</p>
        </div>
        <div class="product__list-item-hover-block">
          <p>
            Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу та
            сервісів. Все це дозволить відвідувачу отримати вичерпні відомості
            про компанію чи приватну особу.
          </p>
        </div>
      </li>
      <li class="products__list-item">
        <picture>
          <source
            srcset="
              ./images/products-img-desktop/products-img-desktop-5.webp    1x,
              ./images/products-img-desktop/products-img-desktop-5@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/products-img-desktop/products-img-desktop-5.jpg    1x,
              ./images/products-img-desktop/products-img-desktop-5@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/products-img-tablet/products-img-tablet-5.webp    1x,
              ./images/products-img-tablet/products-img-tablet-5@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/products-img-tablet/products-img-tablet-5.jpg    1x,
              ./images/products-img-tablet/products-img-tablet-5@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/products-img-mobile/products-img-mobile-5.webp    1x,
              ./images/products-img-mobile/products-img-mobile-5@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/products-img-mobile/products-img-mobile-5.jpg    1x,
              ./images/products-img-mobile/products-img-mobile-5@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./images/products-img-mobile/products-img-mobile-5.jpg"
            alt="Проєкт Boxes фото"
            class="products__image"
          />
        </picture>
        <div class="product__list-item-desc">
          <h4 class="product__list-title">Проєкт Boxes</h4>
          <p class="product__list-desc">Додаток</p>
        </div>
        <div class="product__list-item-hover-block">
          <p>
            Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу та
            сервісів. Все це дозволить відвідувачу отримати вичерпні відомості
            про компанію чи приватну особу.
          </p>
        </div>
      </li>
      <li class="products__list-item">
        <picture>
          <source
            srcset="
              ./images/products-img-desktop/products-img-desktop-6.webp    1x,
              ./images/products-img-desktop/products-img-desktop-6@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/products-img-desktop/products-img-desktop-6.jpg    1x,
              ./images/products-img-desktop/products-img-desktop-6@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/products-img-tablet/products-img-tablet-6.webp    1x,
              ./images/products-img-tablet/products-img-tablet-6@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/products-img-tablet/products-img-tablet-6.jpg    1x,
              ./images/products-img-tablet/products-img-tablet-6@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/products-img-mobile/products-img-mobile-6.webp    1x,
              ./images/products-img-mobile/products-img-mobile-6@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/products-img-mobile/products-img-mobile-6.jpg    1x,
              ./images/products-img-mobile/products-img-mobile-6@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./images/products-img-mobile/products-img-mobile-6.jpg"
            alt="Inspiration has no Borders фото"
            class="products__image"
          />
        </picture>
        <div class="product__list-item-desc">
          <h4 class="product__list-title">Inspiration has no Borders</h4>
          <p class="product__list-desc">Веб-сайт</p>
        </div>
        <div class="product__list-item-hover-block">
          <p>
            Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу та
            сервісів. Все це дозволить відвідувачу отримати вичерпні відомості
            про компанію чи приватну особу.
          </p>
        </div>
      </li>
      <li class="products__list-item">
        <picture>
          <source
            srcset="
              ./images/products-img-desktop/products-img-desktop-7.webp    1x,
              ./images/products-img-desktop/products-img-desktop-7@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/products-img-desktop/products-img-desktop-7.jpg    1x,
              ./images/products-img-desktop/products-img-desktop-7@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/products-img-tablet/products-img-tablet-7.webp    1x,
              ./images/products-img-tablet/products-img-tablet-7@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/products-img-tablet/products-img-tablet-7.jpg    1x,
              ./images/products-img-tablet/products-img-tablet-7@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/products-img-mobile/products-img-mobile-7.webp    1x,
              ./images/products-img-mobile/products-img-mobile-7@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/products-img-mobile/products-img-mobile-7.jpg    1x,
              ./images/products-img-mobile/products-img-mobile-7@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./images/products-img-mobile/products-img-mobile-7.jpg"
            alt="Видання Limited Edition фото"
            class="products__image"
          />
        </picture>
        <div class="product__list-item-desc">
          <h4 class="product__list-title">Видання Limited Edition</h4>
          <p class="product__list-desc">Дизайн</p>
        </div>
        <div class="product__list-item-hover-block">
          <p>
            Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу та
            сервісів. Все це дозволить відвідувачу отримати вичерпні відомості
            про компанію чи приватну особу.
          </p>
        </div>
      </li>
      <li class="products__list-item">
        <picture>
          <source
            srcset="
              ./images/products-img-desktop/products-img-desktop-8.webp    1x,
              ./images/products-img-desktop/products-img-desktop-8@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/products-img-desktop/products-img-desktop-8.jpg    1x,
              ./images/products-img-desktop/products-img-desktop-8@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/products-img-tablet/products-img-tablet-8.webp    1x,
              ./images/products-img-tablet/products-img-tablet-8@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/products-img-tablet/products-img-tablet-8.jpg    1x,
              ./images/products-img-tablet/products-img-tablet-8@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/products-img-mobile/products-img-mobile-8.webp    1x,
              ./images/products-img-mobile/products-img-mobile-8@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/products-img-mobile/products-img-mobile-8.jpg    1x,
              ./images/products-img-mobile/products-img-mobile-8@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./images/products-img-mobile/products-img-mobile-8.jpg"
            alt="Проєкт LAB фото"
            class="products__image"
          />
        </picture>
        <div class="product__list-item-desc">
          <h4 class="product__list-title">Проєкт LAB</h4>
          <p class="product__list-desc">Маркетинг</p>
        </div>
        <div class="product__list-item-hover-block">
          <p>
            Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу та
            сервісів. Все це дозволить відвідувачу отримати вичерпні відомості
            про компанію чи приватну особу.
          </p>
        </div>
      </li>
      <li class="products__list-item">
        <picture>
          <source
            srcset="
              ./images/products-img-desktop/products-img-desktop-9.webp    1x,
              ./images/products-img-desktop/products-img-desktop-9@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/products-img-desktop/products-img-desktop-9.jpg    1x,
              ./images/products-img-desktop/products-img-desktop-9@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/products-img-tablet/products-img-tablet-9.webp    1x,
              ./images/products-img-tablet/products-img-tablet-9@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/products-img-tablet/products-img-tablet-9.jpg    1x,
              ./images/products-img-tablet/products-img-tablet-9@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/products-img-mobile/products-img-mobile-9.webp    1x,
              ./images/products-img-mobile/products-img-mobile-9@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/products-img-mobile/products-img-mobile-9.jpg    1x,
              ./images/products-img-mobile/products-img-mobile-9@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./images/products-img-mobile/products-img-mobile-9.jpg"
            alt="Growing Business фото"
            class="products__image"
          />
        </picture>
        <div class="product__list-item-desc">
          <h4 class="product__list-title">Growing Business</h4>
          <p class="product__list-desc">Додаток</p>
        </div>
        <div class="product__list-item-hover-block">
          <p>
            Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу та
            сервісів. Все це дозволить відвідувачу отримати вичерпні відомості
            про компанію чи приватну особу.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
